<web-app>

    <jsp-config>
      <jsp-property-group>
        <url-pattern>/*</url-pattern>
        <page-encoding>UTF-8</page-encoding>
      </jsp-property-group>
    </jsp-config>

  <servlet>
    <servlet-name>JNDI</servlet-name>
    <servlet-class>com.ruben.java.web.JNDI</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>JNDI</servlet-name>
    <url-pattern>/jndi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>H2</servlet-name>
    <servlet-class>com.ruben.java.web.H2</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>H2</servlet-name>
    <url-pattern>/h2</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mydb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>

  <resource-env-ref>
    <resource-env-ref-name>myBoolean</resource-env-ref-name>
    <resource-env-ref-type>java.lang.Boolean</resource-env-ref-type>
  </resource-env-ref>

</web-app>




