<web-app>  

<jsp-config>
  <jsp-property-group>
    <url-pattern>*.jsp</url-pattern>
    <page-encoding>UTF-8</page-encoding>
  </jsp-property-group>
</jsp-config>

<welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>org.ruben.jsp.mapear.HolaMundo</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/saludar/*</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>myJSP</servlet-name>
        <jsp-file>hola.jsp</jsp-file>
</servlet>

<servlet-mapping>
        <servlet-name>myJSP</servlet-name>
        <url-pattern>/hola/*</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>myInicio</servlet-name>
    <servlet-class>org.ruben.jsp.mapear.Inicio</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>myInicio</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>

</web-app>  